/* Your Website Styles */

body{

margin: 10px 10px;

}


h1{

color:#0099FF;
padding: 20px;
font-family: 'Frijole', cursive;

}

h2{

padding-left: 50px;
color:#FF0066;
font-family: 'Black Ops One', cursive;
}

p{

padding: 20px 20px;
background: white;
opacity: 0.7;
font-family: 'Calligraffitti', cursive;
color:#FF0066;

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.container{

background: url("../img/bg.jpg") #29A9FF center;



}